
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap" rel="stylesheet">
    <style>
            [class*="socionImage"]{margin-top: 2%;}



           @media only screen and (max-width: 600px) {
            [class*="socionImage"]{margin-top: 3%;}
           }

    </style>
</head>

<header>
    <div style=" border-left: 600px;
                     height: 7%;
                     left: 50%;
                     background: linear-gradient(to right, #fa766b 0%,#b9524a 100%);">
        <div>
            <img class="socionImage" src="{LOGO URL}"
                 style="
                            margin-left: 5%;
                            height: 134%;">
        </div>
    </div>
</header>

<body>
<div>
    <table  style="line-height: 12px;font-family: 'Roboto Slab', serif;font-size: 11px; margin-top: 56px;
                       margin-left: 5%;"
            cellspacing="5">
        <tbody style="
               font-weight: 500;
               font-style: normal;
               line-height: 12px;
               ">
        <tr>
            <td style="/*! position: absolute; *//*! left: 23.81%; *//*! right: 67.59%; *//*! top: 30.43%; *//*! bottom: 64.28%; */
                     line-height: 12px;
                     color: #000000;
                     text-align: left;
                     " align="right">Your emailId update is failed!
            </td>
        </tr>
        <tr>
            <td style="/*! position: absolute; *//*! left: 23.81%; *//*! right: 67.59%; *//*! top: 30.43%; *//*! bottom: 64.28%; */
                     line-height: 12px;
                     color: #000000;
                     text-align: left;
                     " align="right"> Reason : $error
        </tr>

    </table>
</div>
</body>



</html>