<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap" rel="stylesheet">
</head>
<body data-gr-c-s-loaded="true">
<div style="position:absolute; left:225px; top:20px">
    <div style="width:243.78px;height:153.07px;background:white">
        <div style="
            position: absolute;
            width:243.78px;height:56.69px;background:linear-gradient(to right, #fa766b 0%,#b9524a 100%);background-size: contain;
            background-repeat: no-repeat
            ">
            <div style="left:20px; top:20px; position: absolute;"><img alt="No photo" style="
               height: 70px;
               width: 70px;
               border-radius:  33px 32.5px 32.5px 32.5px;
               " src="$profilePicPath"/></div>
            <div style="position:absolute; left:101px; top:35.96px;font-family: Roboto;
               font-style: normal;
               font-weight: bold;
               font-size: 10px;
               line-height: 12px;color: #FFFFFF;">$name
            </div>
        </div>
        <div style="left:170px; top: 80px; position:absolute;background:linear-gradient(to right, #fa766b 0%,#b9524a 100%);height:50px;width:50px;padding: 1px;">
            <img alt="No photo" style="
            height: 50px;
            width: 50px;
            align:center;
            " src="$qrcodepath"/></div>
    </div>
</div>
</body>
</html>